#features {
    border-top: 2px solid #111;
    margin-top: 10%;
    min-height: 500px
}

#features:after {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    background: linear-gradient(black, rgba(0,0,0,0.5), rgba(0,0,0,0.2), transparent);
    position: absolute;
    top: 0px;
}

.features {
    display: none;
    padding-bottom: 100px;
}


#features > h2 {
    margin: 70px 10%;
    margin-bottom: 30px;
    font-size: 200%;
    line-height: 130%;
    color: #ddd;
    display: none
}

/* .features::before {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    background: linear-gradient(black, rgba(0,0,0,0.5), transparent);
    position: absolute;
    top: 0px;
    z-index: 2
} */


.feature_image {
    position: relative
}

.feature_image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: radial-gradient(transparent, rgba(0,0,0,0.2), black);
    z-index: 2;
}


.feature_image img {
    width: 100%
}

.features .each_feature {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    z-index: 2
}

/* .features .each_feature:before {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    background: linear-gradient(transparent, rgba(0,0,0,0.5), black);;
    position: absolute;
    top: -85px
} */

/* .features .details {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px 50px;
    background-color: rgba(0,0,0,0.9);
    width: 30%;
    border-radius: 0px 15px 0px 0px;
} */

.features .details {
    margin-top: -20px;
}

.features .caption {
    font-size: 200%;
    line-height: 150%;
    width: 34%;
    margin-left: 10%;
    margin-top: 5px
}

.features .caption_image {
    margin-left: 10%;
    height: 50px;
    fill: white
}


.features .highlight {
    font-size: 150%;
    line-height: 150%;
    width: 60%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 45px;
}


.features .next_view {
    position: relative;
    top: -90px;
    margin-bottom: -90px
}

.white_space {
   margin-left: 10%
}

.white_space > div {
    width: 100px;
    height: 2px;
    margin-bottom: 10px;
    display: inline-block
}

.white_space > div.grey_line {
    background: #666
}

.white_space > div.coloured_line {
    background: #673ab7;
    width: 40px
}


/* ------------------- NAVIGATION BUTTONS --- */
.slider {
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.slider > div {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 12%
}

.slider p {
    color: #888
}

.slider_nav {
    margin-right: 50px
}

.slider_nav span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
    box-shadow: 0px 5px 10px #222;
    margin: 5px;
    text-align: center;
    padding: 5px;
    /* border: 2px solid #666; */
    font-weight: bold;
    cursor: pointer;
}

.slider_nav span:hover {
    box-shadow: none
}

.slider .slider_button i {
    position: relative;
    top: -10px;
    left: -10px;
}

.slider .next_line {
    background: #333;
    width: 100px;
    height: 2px;
    display: inline-block;
    margin: 0px 40px;
}

.slider button {
    width: 30px;
    height: 30px;
    padding: 10px;
    background: #673AB7;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0px 5px 20px #2b1d44;
}

.slider button:hover {
    box-shadow: none;
}

.slider_nav .current_slide {
    background: black;
    border: 2px solid #333;
    box-shadow: none;
}

.slider .slider_arrow {
    display: flex;
    align-items: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {


}

/* Portrait tablets and large phones, 600px and up */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    
}

/* Small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 768px) {

    #features {
        margin-top: 100px
    }
    
    .feature_image:after {
        content: '';
        width: 100%;
        height: 100px;
        display: block;
        background: linear-gradient(transparent, rgba(0,0,0,0.5), black);
        position: absolute;
        bottom: 0px
    }

    .feature_image img {
        width: 150%;
        position: relative;
        left: -100px;
    }

    .features {
        padding-bottom: 0px
    }

    .features .each_feature {
        position: static;
    }

    .features .details {
        margin-top: 0px;
        position: relative;
    }
    

    .features .caption, .features .highlight {
        width: auto;
        margin-right: 20px
    }

    .features .highlight {
        margin-bottom: 10px;
        font-size: 120%
    }
    
    .features .caption {
        font-size: 170%;
    }
    
        
    .features .next_view {
        position: static;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .slider {
        position: static
    }

    .slider > div {
        display: block;
        margin-left: 20px;
    }    

    .slider .next_line {
        margin-left: 10px
    }

    .slider p {
        margin-left: 10px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 310px) {


}