#contact {
    padding-top: 10%;
    background-image: url('../../_assets/images/students-of-blue-diamond-schools-warri.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative
}

/* #contact:after {
    content: '';
    width: 100%;
    height: 150px;
    display: block; 
    background: linear-gradient(transparent, rgba(0,0,0,0.2), rgba(0,0,0,0.6), black);
    position: absolute;
    bottom: 0px
} */

    
#contact_title {
    width: 70%;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

#contact_title i {
    position: relative;
    top: -10px;
    left: -10px;
}

#contact_title .title_line {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    padding-right: 20px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px

}

.down_pointer {
    width: 10px;
    height: 10px;
    padding: 10px;
    background: #673AB7;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0px 5px 20px #2b1d44;
}


#contact_details {
    border-left: 0px;
    /* width: 70%; */
    display: flex;
    margin-left: 12%;
    margin-top: 5%;
    /* margin-right: 5%; */
    align-items: flex-end;
    margin-right: 13%;
}

#contact_details > * {
    flex: 1
}

#other_contacts > #email_header {
    display: flex;
    padding: 25px;
    align-items: center;
    border-bottom: 0px
}


#email_header {
    display: flex;
    padding: 25px;
    align-items: center;
}

#email_header p {
    padding-left: 20px;
}

#email_header i {
    font-size: 150%
}

#email_header span {
    display: inline-block;
    padding: 2px
}

#send_email form > *, #cta form > * {
    padding: 30px 20px;
    border: 0px;
    border-top: 2px solid #333;
    background: transparent;
    width: -webkit-fill-available;
    color: white;
    margin: 0px;
    text-align: left
}

#send_email {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    border: 2px solid #333;
    border-bottom: 0px;
    background: rgba(0,0,0,0.9)
}

#send_email button {
    margin-top: 20px;
    z-index: 2;
    position: relative;
}

#send_email button i {
    margin-left: 20px;
}

#other_contacts > div {
    border-bottom: 2px solid #333;
    padding: 10px 30px;
}

#other_contacts .phone_number {
    font-size: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.phone_number p {
    font-weight: bold;
    color: #ddd;
}

#other_contacts .phone_number a {
    background: #097956;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 6px 10px 3px 23px;
    border-radius: 50px;
    margin-left: 30px;
    box-shadow: 0px 10px 25px #000;
}

#other_contacts .phone_number span {
    position: relative;
    left: -7px;
    top: -2px;
    font-size: 14px;
}

#other_contacts .phone_number a i {
    position: relative;
    left: -8px;
    top: -2px;
    font-size: 60%;
    background: #0b523c;
    padding: 4px;
    border-radius: 50%;
}


#contact_address {
    position: relative;
    min-height: 600px;
    overflow: hidden;
    border-top: 2px solid #333;
    border-bottom: 0px;
}

#map {
    position: absolute;
    background:#ddd;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%
}


/* #map::after {
    content: "";
    display: block;
    position: absolute;
    background:rgba(0,0,0,0.4);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    pointer-events: none;
} */



#address {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    /* margin-left: 40px; */
    border-radius: 0px 0px 10px 10px;
    border: 2px solid #666666;
    border-top: 0px;
    /* border-right: 0px; */
    padding: 15px 25px;
    z-index: 2;
    background: rgba(0,0,0,0.9);
    margin-left: 12%;
    /* width: 70%; */
    margin-right: 13%;
}

#address small {
    color: #888
}

#address i {
    vertical-align: middle;
}

#address p {
    margin: 0px;
    font-size: 130%;
    line-height: 130%;
    margin-bottom: 5px;
}

#address a {
    display: inline-block;
    border-bottom: 1px solid #261d35;
    padding-bottom: 5px
}

#other_contacts {
    margin: 0px;
    background: #000;
    border: 2px solid #333;
    border-width: 2px 2px 0px 2px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    left: -20px;
    margin-right: -20px
}

#contact .white_space2 {
    right: 25%;
    top: 30%;
}



.social_media > * {
    padding: 5px 0px;
    margin: 0px 10px;
    display: inline-block;
    color: #999;
}

.social_media > a {
    border-bottom: 2px solid #333;
    color: #999;;
    margin-bottom: 10px;
}

.social_media i {
    height: 13px;
    width: 13px;
    margin: 0px 5px 3px 5px;
    vertical-align: middle;
    position: relative;
    top: -1px
}

.social_media .fb-like {
    margin-top: 20px;
    display: block
}
