/* Big tabs and below */
@media only screen and (max-width: 768px) {
      
    #header {
        bottom: -140px;
        z-index: 2;
        margin-top: -140px;
    }  

    #header:after {
        content: '';
        width: 100%;
        height: 100px;
        display: block;
        background: linear-gradient(black, rgba(0,0,0,0.5), transparent);
        position: relative;
        z-index: -1;
        top: -40px;
    } 

    #contact {
        background-image: url('../../_assets/images/students-of-blue-diamond-schools-mobile.jpg');
    }

    #contact {
        height: fit-content
    }

    #contact_details, #address {
        display: block;
        width: auto;
        margin: 0px 20px;
    }


    #contact_address {
        min-height: 600px;
    }

    #other_contacts {
        margin: 0px;
        left: 0px;
        margin-top: 20px;
    }

    #send_email {
        width: auto;
        border: 2px solid #333;
        border-radius: 10px
    }
    
    #contact > h2 {
        margin: 70px 10px 50px 15%;
    }

    #other_contacts > div {
        padding: 20px
    }

    #other_contacts .phone_number {
        display: block;
        text-align: left
    }

    #other_contacts .phone_number a {
        margin-left: 0px
    }

    #contact_title, #contact_caption {
        margin: 30px;
        width: 80%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    
    #contact {
        padding-top: 15%;
    }
/* 
    #contact_details {
        width: 80%
    } */

}