#top_description {
  background-image: url('../../_assets/images/students-of-blue-diamond-schools-warri.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  padding: 10%;
  padding-bottom: 100px;
  margin-top: 0px
}


#top_description:after {
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  background: linear-gradient(transparent, rgba(0,0,0,0.5), black);
  position: absolute;
  bottom: 0px
}

#top_description h1 {
    font-size: 280%;
    width: 50%;
    color: white;
    margin-top: 10%;
    line-height: 120%;
}

#top_description [name='caption'] {
  width: 50%;
  font-size: 150%;
  line-height: 150%;
}

#top_description [name='actions'] {
  width: 50%;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 20px 20px 0px;
}

#top_description [name='actions'] > a, #link_button > a {
  display: block;
  border-bottom: 2px solid #333;
  padding: 15px;
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
}

#top_description [name='actions'] > a:last-child {
  border-bottom: 0px;
}

#top_description [name='actions'] > a span,  #link_button > a span {
  flex: 1
}

#top_description [name='actions'] > a i ,  #link_button > a i {
  margin-right: 20px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #666;
  padding: 2px;
  font-size: 120%;
  color: #ddd;
}

#top_description [name='actions'] > a:hover,  #link_button > a:hover {
  box-shadow: 0px 10px 25px #ddd;
  font-size: 102%;
}


#top_description [name="prompt"] {
  margin-left: 8px;
  color: #666;
  margin-top: 30px;
}

.arrow {
    margin-left: 20px
}

.arrow {
	-webkit-animation: gif 1s infinite alternate;
	animation: gif 1s infinite alternate;
	position: relative;
	font-size: 20px;
}

@keyframes gif {
  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes gif {
  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 700px) {
    
  #top_description {
    background-image: url('../../_assets/images/students-of-blue-diamond-schools-warri-1-mobile.jpg');
    padding-top: 160px;
    padding-bottom: 10%
  }

    
  #top_description [name='caption'], #top_description [name='actions'] {
    width: 90%;
  }

     
  #top_description h1, #top_description [name='caption'], #top_description [name='actions'], .forms > p, .forms form, #share_link > p, #link_button > a, #link_form, #copied_message p {
    width: 90% !Important;
  }


}


@media only screen and (min-width: 701px) and (max-width: 950px) {
      
  #top_description h1, #top_description [name='caption'], #top_description [name='actions'], .forms > p, .forms form, #share_link > p, #link_button > a, #link_form, #copied_message p {
    width: 70% !Important;
  }
}.forms {
    display: none;
}

.forms form {
    border: 2px solid #333;
    border-radius: 10px;
    width: 60%
}

.forms form > div {
    display: flex;
    border-top: 2px solid #333
}

.forms form > div > * , .forms form > select {
    border-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px
}

.forms form > div > input:last-child {
    border-left: 2px solid #333;
    margin-left: 20px;
    padding-left: 20px
}


.forms form > div > input:first-child {
    border-right: 2px solid #333;
    margin-right: 0px;
    padding-right: 20px;
    margin-left: 0px;
    padding-left: 25px;
}
.forms form > div:first-child {
    border-top: 0px;
    border-bottom: 2px solid #333
}

.forms form > div > input {
    flex: 2 0 50%
}

.forms form > div > select {
    margin-left: 20px;
    padding: 0px;
}

.forms form option {
    background: black
}

.forms > p {
    width: 50%;
    font-size: 130%;
    line-height: 150%;
    margin-left: 10px;
    color: #ccc;
}

.forms .arrow_right {
    font-size: 12px;
    position: relative;
    top: -1px;
}

#refer_parent form > div:first-child {
    border-top: 0px;
    border-bottom: 2px solid #333;
}

.forms [dd_feedback] {
    display: flex;
    opacity: 1;
    margin: 0px;
    padding: 20px 70px;
    font-weight: bold;
    color: #b77064;
    text-align: left
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    .forms form > div {
        display: block;
    }

    .forms form > div:first-child {
        display: flex;
    }

    .forms form > div > [name='phone_number'] {
        border-bottom: 2px solid #333
    }

    .forms [dd_feedback] {
        padding: 30px
    }

    #link_form {
        display: block;
        padding-bottom: 10px
    }

    #link_form button {
        margin-left: 20px
    }
}

@media only screen and (min-width: 701px) and (max-width: 950px) {
    .forms form {
        width: 80% !important
    }
}#link_button, #share_link {
    display: none
}

#share_link > p {
    width: 50%;
    font-size: 130%;
    line-height: 150%;
    margin-left: 10px;
    color: #ccc;
}

#link_button > a {
    border: 2px solid #333;
    border-radius: 5px;
    width: 50%;
    padding-left: 30px;
    background: #111;
}

#link_button > a:hover {
    box-shadow: 0px 0px 10px #222
}

#link_form {
    display: flex;
    width: 65%;
    border: 2px solid #333;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
}

#link_form input {
    border-bottom: 0px;
    flex: 1;
    padding-right: 0px;
    padding-left: 20px
}

#link_form button {
    margin-right: 20px;
}

#share_link button img {

    vertical-align: middle;
    margin-right: 7px;
    position: relative;
    top: -1px;
    
}

#share_link button {
    background: #673AB7
}

#share_link a > button {
    /* background: #092943 */
    background: #333
}

#copied_message p {
    color: #666;
    margin-left: 20px;
    width: 60%;
    margin-bottom: 20px;
    display: none
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
        
    #link_form {
        display: flex;
    }
}main > section {
    padding: 10%;
    padding-top: 0px;
    padding-bottom: 5%
}

#submit_details, #refer_parents, #refer_successful, #share_link {
    margin-top: -50px;
}


.bottom_back_link {
    display: flex;
    align-items: center;
    text-align: left;
    display: none
}

.bottom_back_link i {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50%;
    padding: 2px;
    font-size: 120%;
    color: white;
    font-weight: bold;
    background: #1368ac;
    position: relative;
    top: 3px;
}

.bottom_back_link button {
    background: none;
    border-radius: 0px;
    padding: 0px;
    text-align: left;
    line-height: 130%;
    color: #48a4ec;
}