#top_description {
  background-image: url('../../_assets/images/students-of-blue-diamond-schools-warri.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  padding: 10%;
  padding-bottom: 100px;
  margin-top: 0px
}


#top_description:after {
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  background: linear-gradient(transparent, rgba(0,0,0,0.5), black);
  position: absolute;
  bottom: 0px
}

#top_description h1 {
    font-size: 280%;
    width: 50%;
    color: white;
    margin-top: 10%;
    line-height: 120%;
}

#top_description [name='caption'] {
  width: 50%;
  font-size: 150%;
  line-height: 160%;
}

#top_description [name='caption'] b {
  font-weight: bold;
  border-bottom: 1px solid #999;
  display: inline-block;
  padding-bottom: 2px;
  margin: 1px
}

#top_description [name='actions'] {
  width: 50%;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 20px 20px 0px;
}

#top_description [name='actions'] > a, #link_button > a {
  display: block;
  border-bottom: 2px solid #333;
  padding: 15px;
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
}

#top_description [name='actions'] > a:last-child {
  border-bottom: 0px;
}

#top_description [name='actions'] > a span,  #link_button > a span {
  flex: 1
}

#top_description [name='actions'] > a i ,  #link_button > a i {
  margin-right: 20px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #666;
  padding: 2px;
  font-size: 120%;
  color: #ddd;
}

#top_description [name='actions'] > a:hover,  #link_button > a:hover {
  box-shadow: 0px 10px 25px #ddd;
  font-size: 102%;
}


#top_description [name="prompt"] {
  margin-left: 8px;
  color: #666;
  margin-top: 30px;
}

.arrow {
    margin-left: 20px
}

.arrow {
	-webkit-animation: gif 1s infinite alternate;
	animation: gif 1s infinite alternate;
	position: relative;
	font-size: 20px;
}

@keyframes gif {
  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes gif {
  from {
    top: 15px;
  }
  to {
    top: 0px;
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 700px) {
    
  #top_description {
    background-image: url('../../_assets/images/students-of-blue-diamond-schools-mobile.jpg');
    padding-top: 160px;
    padding-bottom: 10%
  }

    
  #top_description [name='caption'], #top_description [name='actions'] {
    width: 90%;
  }

     
  #top_description h1, #top_description [name='caption'], #top_description [name='actions'], .forms > p, .forms form, #share_link > p, #link_button > a, #link_form, #copied_message p {
    width: 90% !Important;
  }


}


@media only screen and (min-width: 701px) and (max-width: 950px) {
      
  #top_description h1, #top_description [name='caption'], #top_description [name='actions'], .forms > p, .forms form, #share_link > p, #link_button > a, #link_form, #copied_message p {
    width: 70% !Important;
  }
}