.padding10 {
    padding: 10%
}

.flexbox {
    display: flex
}

.flexbox > * {
    flex: 1
}[dd_feedback] {
    padding: 10px;
    color: darkred;
    text-align: center;
    margin: 5px;
}

/* ------------------
------------------------------- STYLE FOR LOADER --------------
------------------------------------------------------------------ */

dd_loader [dd_ajaxload] {
    height: 2.5px;
    width: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    overflow: hidden;
    background-color: #ccc;
    z-index: 2;
    display: none
}

dd_loader [dd_ajaxload]:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2.5px;
  background-color: #2196F3;
  animation: dd_ajaxload 1s linear infinite;
  -webkit-animation: dd_ajaxload 1s linear infinite;
}

@keyframes dd_ajaxload {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

@-webkit-keyframes dd_ajaxload {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


dd_loader [dd_onload] {
  padding-top: 15%;
  padding-left: 5%;
  text-align: center;
  background: white;
	position: fixed;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 3;
}

dd_loader [dd_onload]::before {
    content: '';
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(239,69,76,.3);
    border-radius: 50%;
    border-top-color: rgb(239,69,76);
    animation: dd_onload 1s ease-in-out infinite;
    -webkit-animation: dd_onload 1s ease-in-out infinite;
}

dd_loader [dd_onload]::after {
	content: '';
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    left: -135px;
    top: -20px;
}

@keyframes dd_onload {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes dd_onload {
  to { -webkit-transform: rotate(360deg); }
}

/* ------------------
------------------------------- STYLE FOR dd_ attributes --------------
------------------------------------------------------------------ */




/* -------------------------
---------------------------- PAGINATION -------------
-------------------------*/

[dd_next]:empty:after {
    content: 'Next';
}

[dd_previous]:empty:after {
    content: 'Previous';
}


[dd_nodata] {
  width: 100%;
  font-size: 200%;
  text-align: center;
  border-radius: 10px;
}

/* ------------------
------------------------------- STYLE FOR SKELENTON UI --------------
------------------------------------------------------------------ */

.dd_shortline:empty::after, .dd_longline:empty::after, .dd_thumbnail:not([src]) {
	content: "";
	display: inline-block;
	height: 10px;
	border-radius: 50px;
	margin: 5px 0px;
	background: #ddd;
}


.dd_longline:empty::after {
	width: 100%;
}

.dd_shortline:empty::after {
	width: 40%;
  margin: auto;
  min-width: 50px
}

.dd_thumbnail, .dd_thumbnail:not([src])  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 7px
}

.dd_longline:empty::after,
.dd_shortline:empty::after,
.dd_thumbnail:not([src])  {
	-webkit-animation: dd_loading 1s infinite alternate;
	animation: dd_loading 1s infinite alternate;
}

@keyframes dd_loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
footer {
    padding: 20px 5% 30px 5%;
    border-top: 2px solid #333;
}

footer > * {
    padding: 10px 0px;
    margin: 0px 30px;
    display: inline-block;
    color: #999;
}

footer > a {
    border-bottom: 2px solid #333;
    color: #999;
}

footer img {
    height: 13px;
    margin: 0px 5px 3px 5px;
    vertical-align: middle;
}

footer > p {
    display: inline-block;
    margin-left: 40px;
    font-size: 13px;
    margin-top: 20px
}

footer > p > span {
    margin: 5px
}

button {
    background: #06644f;
    border:0px;
    border-radius: 50px;
    padding: 8px 30px;
    margin: 5px;
    font-size: 90%;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form {
    overflow: hidden;
}

form input, form textarea, form select, input[type='text'] {
    display: block;
    width: -webkit-fill-available;
    border: 0px;
    border-bottom: 2px solid #333;
    padding: 20px 50px;
    font-size: 120%;
    background: transparent;
    color: #ccc;
}

form button {
    margin: 20px 10px;
    display: block;
}
#header {
    position: relative;
    bottom: -160px;
    z-index: 2;
    margin-top: -160px;
}

#main_header {
    display: flex;
    align-items: center; 
    padding:  30px 10%;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5), transparent);
    position: relative
}
  
#main_header > div:first-child {
    flex: none;
}
 
#main_header > div:last-child {
    flex: 2;
}

#logo > img {
    height: 65px
}

#main_links {
    text-align: right;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#main_links > a:first-child {
    margin: 20px;
    color: white;
    font-size: 120%;
    border-bottom: 2px solid #666;
    padding-bottom: 7px;
}

/* #main_links > *:last-child {
    
    background: #1368ac;
    border:0px;
    border-radius: 50px;
    padding: 5px 25px;
    margin-left: 45px;
    font-size: 90%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 10px 25px #000
} */

#main_links > a:last-child:hover {
    box-shadow: 0px 0px 10px #000
}

#main_links i {
    padding: 5px;
    margin-left: -5px;
}

#main_links .icon {
    width: 20px;
    margin: 5px;
}


.whatsapp_button > button {
    background: #333;
}

.whatsapp_button > button img {

    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: -1px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 700px) {

    #main_header {
        display: block;
        padding: 20px;
        border-bottom: 2px solid #333;
        padding-left: 10%
    }

    #logo {
        padding: 0px
    }

    #main_links {
        
        padding: 0px;
        flex-flow: row wrap;
        justify-content: initial;
        text-align: left
    }

    #main_links > a:first-child {
        margin-left: 5px;
    }

    #main_links > *:last-child {
        margin: 0px
    }
}

[class*="icon-"] {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
}

.icon-facebook {
    background: url(../../_assets/icons/facebook-grey.svg); 
}

.icon-whatsapp {
    background: url(../../_assets/icons/whatsapp-grey.svg); 
}

.icon-instagram {
    background: url(../../_assets/icons/instagram-grey.svg); 
}
* {
  font-family: 'Metropolis Light', Arial;
  font-weight: 300;
  font-style: normal;
  transition: all 0.5s
}

body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-size: 14px;
    line-height: 150%;
    background: black
}

a {
    text-decoration: none;
    color:  #673ab7;
    cursor: pointer
}

h1, h2, h3 {
  font-family: 'Metropolis Black', Arial;
  font-weight: 900;
  font-style: normal;
}

.arrow_right {
	-webkit-animation: gif_right 1s infinite alternate;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	animation: gif_right 1s infinite alternate;
    margin-left: 10px;
    vertical-align: middle;
}

@keyframes gif_right {
  from {
    left: 20px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes gif_right {
  from {
    left: 20px;
  }
  to {
    left: 0px;
  }
} 



/* ------------------- SECTIONS --- */
  
main {
  position: relative;
  background: black;
  color: white
}

main > section {
  position: relative;
  overflow: hidden
}
/* 
main:after {
  width: 15px;
  height: 100%;
  background: black;
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  top: 0px;
  bottom: 0px;
  pointer-events:none;
  z-index: 1;
  cursor: grab
} */

.current_view {
  display: block !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  cursor: grab 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111; 
  border: 1px solid #333;
  /* border-radius: 50px; */
  transition: all 0.5s;
  cursor: pointer
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  cursor: grab

}


#announcement {
  display: none
}/* Big tabs and below */
@media only screen and (max-width: 768px) {
       
    footer {
        padding: 0px;
        border-top: 1px solid #333;
        padding-left: 30px
    }    

    footer > * {
        margin: 0px;
        margin-left: 25px;
        margin-right: 5px;
        margin-top: 20px
    }

    /* footer > p {
        display: block;
        padding: 20px 20px 10px 40px;
        border-top: 1px solid #333;
        margin: 20px 0px;
    } */

    .flexbox {
        display: block;
    }
}